/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6a5af9; /* Adjust to your desired purple color */
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    flex: 1; /* Push user info to the right */
    font-size: 18px;
}

.user-info {
    font-size: 14px;
    font-weight: bold;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar.active {
    left: 0; /* Show sidebar */
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.sidebar nav ul li {
    border-bottom: 1px solid #ddd;
}

.sidebar nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #333;
    text-decoration: none;
}

.sidebar nav ul li a:hover {
    background-color: #ddd;
}

main {
    padding: 20px;
    margin-top: 60px;
}


.close-icon {
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.close-icon:hover {
    color: #4285F4; /* Highlight effect */
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
}

.sidebar-logo {
    height: 30px;
    width: auto;
}